SLACK_BOT_TOKEN=[Create a bot token for your Slack app and paste it here!]
SLACK_APP_TOKEN=[Make sure to enable Socket Mode to generate an app-level token!]
HCAI-API_KEY=[Found at https://ai.hackclub.com]